Repository TroAlexis/formulae: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: allow saving formulas, display in navbar
  components/formula/FormulaSaved/components/Item/index.tsx
  components/formula/FormulaSaved/components/Item/styles.ts
  components/formula/FormulaSaved/components/Item/utils.ts
  components/formula/FormulaSaved/index.tsx
  components/formula/FormulaSaved/styles.ts
  components/ui/Navbar/index.tsx
  components/ui/Navbar/styles.ts
  modules/favorites/actions.ts
  modules/favorites/index.ts
  modules/favorites/models.ts
  modules/favorites/selectors.ts
  modules/formulas/utils.ts
Due: eslint --ignore-path .gitignore --quiet --fix

fix: fix edit formula if index is empty
  modules/formulas/actions.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: allow selectors for any part of store in createStoreSelector
  modules/utils/selectors.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add replace root expression logic, replace with saved formula on click
  components/formula/FormulaSaved/components/Item/index.tsx
  components/formula/FormulaSaved/components/Item/styles.ts
  components/formula/FormulaSaved/index.tsx
  components/ui/Navbar/index.tsx
  modules/formulas/actions.ts
  modules/formulas/index.ts
  modules/formulas/models.ts
  modules/formulas/selectors.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add gh-pages workflow for public
  .github/workflows/nextjs.yml
Due: none

fix: fix nextjs.yml push branch
  .github/workflows/nextjs.yml
Due: none

fix: fix meta links adding base path
  config/mantine/theme.ts
  pages/_app.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

fix: fix next config base path
  next.config.js
Due: eslint --ignore-path .gitignore --quiet --fix

fix: fix manifest and meta links start url for pwa
  pages/_app.tsx
  public/manifest.json
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add favorites search
  components/favorites/FavoritesSearch/index.tsx
  components/formula/FormulaSaved/index.tsx
  components/formula/FormulasFavorites/components/Item/index.tsx
  components/formula/FormulasFavorites/components/Item/styles.ts
  components/formula/FormulasFavorites/components/Item/utils.ts
  components/formula/FormulasFavorites/index.tsx
  components/formula/FormulasFavorites/styles.ts
  components/ui/Navbar/index.tsx
  modules/favorites/actions.ts
  modules/favorites/index.ts
  modules/favorites/models.ts
  modules/favorites/selectors.ts
Due: eslint --ignore-path .gitignore --quiet --fix

refactor: remove unnecessary config files, refactor readme
  .dockerignore
  .editorconfig
  Dockerfile
  README.md
  changelog.config.json
  docker-compose.yml
Due: prettier --ignore-path .gitignore --write

feat: add hydrated store hook factory, replace dynamic favorite formulas component with said hook
  components/ui/Navbar/index.tsx
  modules/favorites/index.ts
  modules/utils/store.ts
Due: eslint --ignore-path .gitignore --quiet --fix

fix: fix application height on mobile
  pages/index.tsx
  styles/globals.css
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: fix mantine Input component taking more height than it should causing overflow
  config/mantine/theme.ts
Due: eslint --ignore-path .gitignore --quiet --fix

fix: fix formula name control being cut off in safari
  components/formula/FormulaNameControl/styles.ts
Due: eslint --ignore-path .gitignore --quiet --fix

fix: fix cut off edges in scroll area with padding inside it
  components/formula/FormulaExpression/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add current expression highlighting
  components/formula/FormulaExpression/index.tsx
  components/formula/FormulaExpression/styles.ts
  modules/formulas/actions.ts
  modules/formulas/index.ts
  modules/formulas/models.ts
  modules/formulas/selectors.ts
  modules/formulas/utils.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: create separate store for theme related values and persist in localStorage
  components/ui/ThemeToggle/index.tsx
  modules/shell/actions.ts
  modules/shell/index.ts
  modules/shell/models.ts
  modules/shell/selectors.ts
  modules/theme/actions.ts
  modules/theme/index.ts
  modules/theme/models.ts
  modules/theme/selectors.ts
  pages/_app.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add hotkeys for search focusing and theme toggle
  components/favorites/FavoritesSearch/index.tsx
  components/ui/ThemeToggle/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add hints for search and theme toggle controls
  components/favorites/FavoritesSearch/components/Hint/index.tsx
  components/favorites/FavoritesSearch/index.tsx
  components/formula/FormulasFavorites/index.tsx
  components/ui/Navbar/index.tsx
  components/ui/ThemeToggle/components/Hint/index.tsx
  components/ui/ThemeToggle/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add arrow to tooltip in themetoggle
  components/ui/ThemeToggle/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add tooltip trigger for focus events by default
  config/mantine/theme.ts
Due: eslint --ignore-path .gitignore --quiet --fix

refactor: refactor formula creator controls buttons, change places of result and controls
  components/formula/FormulaCreator/Controls/index.tsx
  components/formula/FormulaCreator/Controls/styles.ts
  components/formula/FormulaCreator/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

refactor: change theme toggle button variant to subtle
  components/ui/ThemeToggle/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

fix: increase size of result text
  components/formula/FormulaResult/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

feat: update dependencies, add noto and montserrat fonts with next/font
  config/fonts.ts
  config/mantine/theme.ts
  package.json
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: fix formula creator controls outline hiding under siblings
  components/formula/FormulaCreator/Controls/styles.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add menu to name control, move favorite toggle into it
  components/formula/FormulaFavoriteToggle/index.tsx
  components/formula/FormulaFavoriteToggle/styles.ts
  components/formula/FormulaMenu/components/Favorite/index.tsx
  components/formula/FormulaMenu/index.tsx
  components/formula/FormulaNameControl/index.tsx
  components/formula/FormulaNameControl/styles.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add menu to saved formula item, place delete button in
  components/formula/FormulasFavorites/components/Item/components/Menu/components/Delete/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/index.tsx
  components/formula/FormulasFavorites/components/Item/index.tsx
  components/formula/FormulasFavorites/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add semantic-release, configure, add to base workflow
  .github/workflows/nextjs.yml
  .releaserc.json
  package.json
Due: prettier --ignore-path .gitignore --write

fix: rename next.js workflow, change node version to 18
  .github/workflows/base.yml
Due: none

fix: move release creation to build step to use same machine and node version
  .github/workflows/base.yml
Due: none

fix: fix GH_TOKEN env variable being unavailable for semantic release, rename base job
  .github/workflows/base.yml
Due: none

fix: fix github token variable in base workflow, add write permissions, add git plugin for semantic release
  .github/workflows/base.yml
  .releaserc.json
  package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write

fix: remove package-lock.json from gitignore
  .gitignore
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

chore: update package-lock.json
  package-lock.json
Due: prettier --ignore-path .gitignore --write

Notes added by 'git notes add'
  9ee7a02121535ba76818e12158d5ede28fde0fdc
Due: none

refactor: add toLowerCaseTrim string util
  modules/favorites/selectors.ts
  utils/string.ts
Due: eslint --ignore-path .gitignore --quiet --fix

build: update package-lock.json
  package-lock.json
Due: prettier --ignore-path .gitignore --write

refactor: add separate formula expression menu component, make formul menu composable
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaMenu/index.tsx
  components/formula/FormulaMenu/models.ts
  components/formula/FormulaNameControl/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

Path conditions:
  prettier --ignore-path .gitignore --write: any of: *.{css,scss,json,md,html}
  eslint --ignore-path .gitignore --quiet --fix: any of: *.{js,ts,tsx}
