Repository TroAlexis/formulae: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

.lintstagedrc.json:

{
  "*.{css,scss,json,md,html}": "prettier --ignore-path .gitignore --write",
  "*.{js,ts,tsx}": ["eslint --ignore-path .gitignore --quiet --fix"]
}

Notes added by 'git notes add'
  72f4a5cd97e1b6e10ea322ccdfdc0cf8aad3ad88
Due: none

fix: fix releaserc git plugin running too early
  .releaserc.json
Due: prettier --ignore-path .gitignore --write

chore(release): 0.4.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

Notes added by 'git notes add'
  865c4e9d7abde614959f8da5ae4236de1adc0ffd
Due: none

fix: fix ios zoom on input focus
  components/app/Viewport/index.tsx
  pages/_app.tsx
  utils/window.ts
Due: eslint --ignore-path .gitignore --quiet --fix

refactor: extract useHydrated hook
  hooks/useHydrated.ts
  modules/utils/store.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat(shell): add closeNavbar action
  modules/shell/actions.ts
  modules/shell/models.ts
  modules/shell/selectors.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add wrapCallFunction utility
  utils/function.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: close navbar on selecting saved formula
  components/formula/FormulasFavorites/components/Item/index.tsx
  components/formula/FormulasFavorites/index.tsx
  components/ui/Header/index.tsx
  components/ui/Navbar/index.tsx
  modules/shell/index.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: close navbar on select (#7)
  components/app/Viewport/index.tsx
  components/formula/FormulasFavorites/components/Item/index.tsx
  components/formula/FormulasFavorites/index.tsx
  components/ui/Header/index.tsx
  components/ui/Navbar/index.tsx
  hooks/useHydrated.ts
  modules/shell/actions.ts
  modules/shell/index.ts
  modules/shell/models.ts
  modules/shell/selectors.ts
  modules/utils/store.ts
  pages/_app.tsx
  utils/function.ts
  utils/window.ts
Due: eslint --ignore-path .gitignore --quiet --fix

chore(release): 0.5.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

Notes added by 'git notes add'
  42469750f5056c355c263e97bc406037b4e5b626
Due: none

fix: fix hoverable styles being applied on touch devices
  components/ui/Hoverable/styles.ts
Due: eslint --ignore-path .gitignore --quiet --fix

fix: fix shell paddings
  pages/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

fix: remove ScrollArea from expression
  components/formula/FormulaExpression/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add editing favorite action
  modules/favorites/actions.ts
  modules/favorites/index.ts
  modules/favorites/models.ts
  modules/favorites/selectors.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add editing favorite formula name
  components/formula/FormulasFavorites/components/Item/components/Menu/components/Edit/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/Edit/models.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/index.tsx
  components/formula/FormulasFavorites/components/Item/components/NameInput/index.tsx
  components/formula/FormulasFavorites/components/Item/components/NameInput/styles.ts
  components/formula/FormulasFavorites/components/Item/hooks/useItemEdit.ts
  components/formula/FormulasFavorites/components/Item/index.tsx
  components/formula/FormulasFavorites/components/Item/styles.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add editing favorite formula description and name
  components/formula/FormulasFavorites/components/Item/components/Icon/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Icon/styles.tsx
  components/formula/FormulasFavorites/components/Item/components/Input/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Input/styles.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/components/Edit/models.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditDescription/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditDescription/models.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditName/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditName/models.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/index.tsx
  components/formula/FormulasFavorites/components/Item/hooks/useItemEdit.ts
  components/formula/FormulasFavorites/components/Item/hooks/useItemEditor.ts
  components/formula/FormulasFavorites/components/Item/index.tsx
  components/formula/FormulasFavorites/components/Item/utils.ts
  components/formula/FormulasFavorites/index.tsx
  modules/formulas/models.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: edit favorite (#8)
  components/formula/FormulaExpression/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Icon/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Icon/styles.tsx
  components/formula/FormulasFavorites/components/Item/components/Input/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Input/styles.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditDescription/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditDescription/models.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditName/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditName/models.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/index.tsx
  components/formula/FormulasFavorites/components/Item/hooks/useItemEditor.ts
  components/formula/FormulasFavorites/components/Item/index.tsx
  components/formula/FormulasFavorites/components/Item/styles.ts
  components/formula/FormulasFavorites/components/Item/utils.ts
  components/formula/FormulasFavorites/index.tsx
  components/ui/Hoverable/styles.ts
  modules/favorites/actions.ts
  modules/favorites/index.ts
  modules/favorites/models.ts
  modules/favorites/selectors.ts
  modules/formulas/models.ts
  pages/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

chore: fix import
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditName/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

chore(release): 0.6.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

Notes added by 'git notes add'
  9e85c63c20eca707b8cb8e99337089ee627021a3
Due: none

feat: add undo-redo in formulas
  components/formula/FormulaCreator/Controls/index.tsx
  modules/formulas/consts.ts
  modules/formulas/index.ts
  modules/formulas/selectors.ts
  package-lock.json
  package.json
  types/consts.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add undo-redo in formulas (#9)
  components/formula/FormulaCreator/Controls/index.tsx
  modules/formulas/consts.ts
  modules/formulas/index.ts
  modules/formulas/selectors.ts
  package-lock.json
  package.json
  types/consts.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

build: add debounce types
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

chore(release): 0.7.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

Notes added by 'git notes add'
  c59104f28bdaddef21efbc966bda4bb189f38c5a
Due: none

fix: fix deprecated create use for temporal store
  modules/formulas/index.ts
  modules/utils/store.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add formula parser and sharing from creator and favorites list
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaMenu/components/Select/index.tsx
  components/formula/FormulaMenu/components/Share/index.tsx
  components/formula/FormulaParser/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/Delete/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditDescription/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditName/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/index.tsx
  hooks/useFormulaShare.ts
  modules/formulas/actions.ts
  pages/index.tsx
  utils/formulas.ts
  utils/window.ts
Due: eslint --ignore-path .gitignore --quiet --fix

refactor: refactor formula menu items using composition
  components/formula/FormulaMenu/components/Favorite/index.tsx
  components/formula/FormulaMenu/components/Item/index.tsx
  components/formula/FormulaMenu/components/Item/models.ts
  components/formula/FormulaMenu/components/Select/index.tsx
  components/formula/FormulaMenu/components/Share/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/Delete/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditDescription/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditDescription/models.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditName/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditName/models.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

fix: fix useHydrated dependency array
  hooks/useHydrated.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add export and import of favorites
  components/favorites/FavoritesMenu/components/Export/index.tsx
  components/favorites/FavoritesMenu/components/Import/index.tsx
  components/favorites/FavoritesMenu/index.tsx
  components/favorites/FavoritesSearch/index.tsx
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaMenu/components/Share/index.tsx
  components/formula/FormulaParser/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/index.tsx
  components/ui/Navbar/index.tsx
  components/ui/Navbar/styles.ts
  hooks/useFormulaShare.ts
  modules/favorites/actions.ts
  modules/favorites/index.ts
  modules/favorites/models.ts
  modules/favorites/selectors.ts
  utils/formulas.ts
  utils/serialize.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: share formula (#10)
  components/favorites/FavoritesMenu/components/Export/index.tsx
  components/favorites/FavoritesMenu/components/Import/index.tsx
  components/favorites/FavoritesMenu/index.tsx
  components/favorites/FavoritesSearch/index.tsx
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaMenu/components/Favorite/index.tsx
  components/formula/FormulaMenu/components/Item/index.tsx
  components/formula/FormulaMenu/components/Item/models.ts
  components/formula/FormulaMenu/components/Select/index.tsx
  components/formula/FormulaMenu/components/Share/index.tsx
  components/formula/FormulaParser/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/Delete/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditDescription/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditDescription/models.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditName/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditName/models.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/index.tsx
  components/ui/Navbar/index.tsx
  components/ui/Navbar/styles.ts
  hooks/useFormulaShare.ts
  hooks/useHydrated.ts
  modules/favorites/actions.ts
  modules/favorites/index.ts
  modules/favorites/models.ts
  modules/favorites/selectors.ts
  modules/formulas/actions.ts
  modules/formulas/index.ts
  modules/utils/store.ts
  pages/index.tsx
  utils/serialize.ts
  utils/window.ts
Due: eslint --ignore-path .gitignore --quiet --fix

chore(release): 0.8.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

Notes added by 'git notes add'
  0cbdc9c5d9fba0efb928c427a6c1803b11cf7320
Due: none

fix: fix favorites list markup semantics and validity
  components/formula/FormulasFavorites/components/Item/index.tsx
  components/formula/FormulasFavorites/index.tsx
  components/formula/FormulasFavorites/styles.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add paste copy/paste expressions, replace current expression from favorites
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaMenu/components/Paste/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/index.tsx
  modules/favorites/actions.ts
  modules/formulas/actions.ts
  modules/formulas/models.ts
  modules/formulas/selectors.ts
  modules/formulas/utils.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: paste expressions (#11)
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaMenu/components/Paste/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/index.tsx
  components/formula/FormulasFavorites/components/Item/index.tsx
  components/formula/FormulasFavorites/index.tsx
  components/formula/FormulasFavorites/styles.ts
  modules/favorites/actions.ts
  modules/formulas/actions.ts
  modules/formulas/models.ts
  modules/formulas/selectors.ts
  modules/formulas/utils.ts
Due: eslint --ignore-path .gitignore --quiet --fix

chore(release): 0.9.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write
