Repository TroAlexis/formulae: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

.lintstagedrc.json:

{
  "*.{css,scss,json,md,html}": "prettier --ignore-path .gitignore --write",
  "*.{js,ts,tsx}": ["eslint --ignore-path .gitignore --quiet --fix"]
}

Notes added by 'git notes add'
  fbf1b9099b999a0442d3feb8f06fc6016597196e
Due: none

feat: add delete all in favorites menu
  components/favorites/FavoritesMenu/components/Delete/index.tsx
  components/favorites/FavoritesMenu/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

refactor(utils): extract getting last array index into getLastIndex helper
  utils/array.ts
Due: eslint --ignore-path .gitignore --quiet --fix

refactor: replace current expression index with id
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaExpression/index.tsx
  components/formula/FormulaMenu/components/Select/index.tsx
  modules/favorites/actions.ts
  modules/formulas/actions.ts
  modules/formulas/index.ts
  modules/formulas/models.ts
  modules/formulas/selectors.ts
  modules/formulas/utils.ts
  types/types.ts
Due: eslint --ignore-path .gitignore --quiet --fix

chore(release): 0.10.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

Notes added by 'git notes add'
  7e68f2a5f8220682620fe4f616201439aadd734a
Due: none

refactor(utils): remove unused functions
  modules/formulas/utils.ts
Due: eslint --ignore-path .gitignore --quiet --fix

refactor: introduce useFormulaContext removing prop drilling from components
  components/formula/FormulaCreator/index.tsx
  components/formula/FormulaDelete/index.tsx
  components/formula/FormulaExpression/components/Collapse/index.tsx
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaExpression/index.tsx
  components/formula/FormulaExpressionControls/index.tsx
  components/formula/FormulaLayout/index.tsx
  components/formula/FormulaLayout/models.ts
  components/formula/FormulaMenu/components/Favorite/index.tsx
  components/formula/FormulaMenu/components/Paste/index.tsx
  components/formula/FormulaMenu/components/Select/index.tsx
  components/formula/FormulaMenu/components/Share/index.tsx
  components/formula/FormulaOperator/index.tsx
  components/formula/FormulaSwitch/index.tsx
  components/formula/FormulaValue/index.tsx
  components/formula/FormulaValue/models.ts
  components/formula/FormulasFavorites/components/Item/components/Icon/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/Delete/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditDescription/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditDescription/models.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditName/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Menu/components/EditName/models.ts
  components/formula/FormulasFavorites/components/Item/components/Menu/index.tsx
  components/formula/FormulasFavorites/components/Item/index.tsx
  components/formula/FormulasFavorites/index.tsx
  contexts/useFormulaContext.tsx
  modules/formulas/models.ts
  modules/formulas/utils.ts
Due: eslint --ignore-path .gitignore --quiet --fix

fix: increment favorites persisted store version due to models change
  modules/favorites/index.ts
Due: eslint --ignore-path .gitignore --quiet --fix

deps: update package-lock.json
  package-lock.json
Due: prettier --ignore-path .gitignore --write

deps: downgrade typescript
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

deps: add jest
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

test: add tests for utils/array
  jest.config.js
  utils/__tests__/array.test.ts
Due: eslint --ignore-path .gitignore --quiet --fix

test(store): add zustand mocks, basic shell and theme tests
  __mocks__/zustand.ts
  modules/shell/__tests__/actions.test.ts
  modules/theme/__tests__/actions.test.ts
  modules/theme/index.ts
Due: eslint --ignore-path .gitignore --quiet --fix

test(store): add map module actions tests
  modules/map/__tests__/actions.test.ts
Due: eslint --ignore-path .gitignore --quiet --fix

test(store): add tests for formula checkers
  contexts/useFormulaContext.tsx
  modules/formulas/utils/__tests__/check.test.ts
  modules/formulas/utils/check.ts
  modules/formulas/utils/create.ts
Due: eslint --ignore-path .gitignore --quiet --fix

chore(utils): add keyBy helper
  utils/__tests__/map.test.ts
  utils/map.ts
Due: eslint --ignore-path .gitignore --quiet --fix

test(utils): add formula compute utilities tests
  __utils__/expression.ts
  modules/formulas/utils/__tests__/compute.test.ts
  modules/formulas/utils/check.ts
Due: eslint --ignore-path .gitignore --quiet --fix

test(utils): add formula index utils tests
  modules/formulas/utils/__tests__/index.test.ts
  modules/formulas/utils/index.ts
Due: eslint --ignore-path .gitignore --quiet --fix

test(utils): add formula slice tests
  modules/formulas/utils/__tests__/slice.test.ts
  modules/formulas/utils/slice.ts
Due: eslint --ignore-path .gitignore --quiet --fix

test(jest): add setup tests extender
  jest.config.js
  setup-tests.ts
Due: eslint --ignore-path .gitignore --quiet --fix

test(contexts): cover useFormulaContext with tests
  __utils__/jest.ts
  contexts/__tests__/useFormulaContext.test.tsx
  contexts/useFormulaContext/consts.ts
  contexts/useFormulaContext/index.tsx
  contexts/useFormulaContext/models.ts
  contexts/useFormulaContext/utils.ts
  modules/favorites/index.ts
  modules/favorites/slice.ts
  modules/formulas/index.ts
  modules/formulas/slice.ts
Due: eslint --ignore-path .gitignore --quiet --fix

test(modules): cover store utils with tests
  modules/utils/__tests__/actions.test.ts
  modules/utils/__tests__/selectors.test.ts
  modules/utils/selectors.ts
  modules/utils/store.ts
Due: eslint --ignore-path .gitignore --quiet --fix

fix: fix setFavorites mutation not cloning slices
  modules/favorites/actions.ts
Due: eslint --ignore-path .gitignore --quiet --fix

refactor: extract favorites formula getter into helper
  modules/favorites/models.ts
  modules/favorites/selectors.ts
Due: eslint --ignore-path .gitignore --quiet --fix

test(favorites): add favorite main actions tests
  modules/favorites/__tests__/index.test.ts
Due: eslint --ignore-path .gitignore --quiet --fix

test(utils): extract common stores for tests into utils
  __utils__/stores.ts
  contexts/__tests__/useFormulaContext.test.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

refactor(formulas): replace expression by id
  components/formula/FormulaMenu/components/Paste/index.tsx
  modules/formulas/actions.ts
  modules/formulas/models.ts
Due: eslint --ignore-path .gitignore --quiet --fix

test(formulas): add formulas store tests
  __utils__/expression.ts
  modules/formulas/__tests__/index.test.ts
Due: eslint --ignore-path .gitignore --quiet --fix

refactor: remove unused api dir
  pages/api/hello.ts
Due: eslint --ignore-path .gitignore --quiet --fix

chore(release): 0.11.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

Notes added by 'git notes add'
  626101d73300758d5eefd7b87680adb7abd537cc
Due: none

feat: add precision settings and bignumber.js for better calculations
  components/formula/FormulaResult/index.tsx
  components/formula/FormulaValue/index.tsx
  components/ui/ConfigSettings/components/Precision/index.tsx
  components/ui/ConfigSettings/index.tsx
  components/ui/ConfigToggle/index.tsx
  components/ui/Header/index.tsx
  components/ui/Header/styles.ts
  modules/formulas/consts.ts
  modules/theme/actions.ts
  modules/theme/index.ts
  modules/theme/models.ts
  modules/theme/selectors.ts
  package-lock.json
  package.json
  pages/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

refactor: add useSelectorWithArguments helper hook
  components/formula/FormulasFavorites/components/Item/index.tsx
  contexts/useFormulaContext/index.tsx
  hooks/useSelectorWithArguments.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add menu items for binding formulas
  components/formula/FormulaLayout/index.tsx
  components/formula/FormulaMenu/components/Bind/index.tsx
  components/formula/FormulaMenu/components/CopyId/index.tsx
  modules/formulas/models.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add binding formulas to each other
  __utils__/expression.ts
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaMenu/components/Bind/index.tsx
  components/formula/FormulaValue/index.tsx
  modules/formulas/selectors.ts
  modules/formulas/utils/__tests__/compute.test.ts
  modules/formulas/utils/__tests__/slice.test.ts
  modules/formulas/utils/compute.ts
  modules/formulas/utils/slice.ts
Due: eslint --ignore-path .gitignore --quiet --fix
