Repository TroAlexis/formulae: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

.lintstagedrc.json:

{
  "*.{css,scss,json,md,html}": "prettier --ignore-path .gitignore --write",
  "*.{js,ts,tsx}": ["eslint --ignore-path .gitignore --quiet --fix"]
}

chore: add menu components for formula value and operator
  components/formula/FormulaLayout/index.tsx
  components/formula/FormulaLayout/models.ts
  components/formula/FormulaOperator/components/Menu/index.tsx
  components/formula/FormulaOperator/index.tsx
  components/formula/FormulaValue/components/Menu/index.tsx
  components/formula/FormulaValue/index.tsx
  components/ui/Hoverable/models.ts
Due: eslint --ignore-path .gitignore --quiet --fix

chore: update mantine to 6.0.4
  components/formula/FormulaOperator/styles.ts
  components/formula/FormulaResult/index.tsx
  components/formula/FormulaValue/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Input/styles.ts
  config/mantine/theme.ts
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add notifications component
  components/formula/FormulaMenu/components/Bind/index.tsx
  components/formula/FormulaMenu/components/CopyId/index.tsx
  components/formula/FormulaMenu/components/Favorite/index.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  utils/notifications.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: fix remove map item leaving value in object
  utils/map.ts
Due: eslint --ignore-path .gitignore --quiet --fix

chore: remove copy notification
  components/formula/FormulaMenu/components/CopyId/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

feat: reference value by id (#14)
  __utils__/expression.ts
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaLayout/index.tsx
  components/formula/FormulaLayout/models.ts
  components/formula/FormulaMenu/components/Bind/index.tsx
  components/formula/FormulaMenu/components/CopyId/index.tsx
  components/formula/FormulaMenu/components/Favorite/index.tsx
  components/formula/FormulaOperator/components/Menu/index.tsx
  components/formula/FormulaOperator/index.tsx
  components/formula/FormulaOperator/styles.ts
  components/formula/FormulaResult/index.tsx
  components/formula/FormulaValue/components/Menu/index.tsx
  components/formula/FormulaValue/index.tsx
  components/formula/FormulasFavorites/components/Item/components/Input/styles.ts
  components/formula/FormulasFavorites/components/Item/index.tsx
  components/ui/Hoverable/models.ts
  config/mantine/theme.ts
  contexts/useFormulaContext/index.tsx
  hooks/useSelectorWithArguments.ts
  modules/formulas/models.ts
  modules/formulas/selectors.ts
  modules/formulas/utils/__tests__/compute.test.ts
  modules/formulas/utils/__tests__/slice.test.ts
  modules/formulas/utils/compute.ts
  modules/formulas/utils/slice.ts
  package-lock.json
  package.json
  pages/_app.tsx
  utils/map.ts
  utils/notifications.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore(release): 0.12.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

Notes added by 'git notes add'
  0840be4203fa79e1e7f85eea06fbb8db1014451b
Due: none

feat: add precision settings and bignumber.js for better calculations (#15)
  components/formula/FormulaResult/index.tsx
  components/formula/FormulaValue/index.tsx
  components/ui/ConfigSettings/components/Precision/index.tsx
  components/ui/ConfigSettings/index.tsx
  components/ui/ConfigToggle/index.tsx
  components/ui/Header/index.tsx
  components/ui/Header/styles.ts
  modules/formulas/consts.ts
  modules/theme/actions.ts
  modules/theme/index.ts
  modules/theme/models.ts
  modules/theme/selectors.ts
  package-lock.json
  package.json
  pages/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: fix precision handle change value
  components/ui/ConfigSettings/components/Precision/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

chore(release): 0.13.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

Notes added by 'git notes add'
  90fd9b166ee5be95860fed52a0420bec3ec8d434
Due: none

fix: fix precision value being negative
  components/ui/ConfigSettings/components/Precision/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

chore(release): 0.13.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

Notes added by 'git notes add'
  3664a2b65e4c14017337d5b8e035f69f640c7fc3
Due: none

chore: add customisation toggle shortcut info
  components/ui/ConfigToggle/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

fix: fix expression selected border styles
  components/formula/FormulaExpression/styles.ts
Due: eslint --ignore-path .gitignore --quiet --fix

chore: change formula delete icon color
  components/formula/FormulaDelete/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

feat(formulas): add wrap with expression
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaMenu/components/WrapWithExpression/index.tsx
  components/formula/FormulaValue/components/Menu/index.tsx
  modules/formulas/actions.ts
  modules/formulas/models.ts
  modules/formulas/selectors.ts
  modules/formulas/slice.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat(formulas): allow clearing root expression
  components/formula/FormulaDelete/index.tsx
  modules/formulas/actions.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: wrap with expression (#16)
  components/formula/FormulaDelete/index.tsx
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaExpression/styles.ts
  components/formula/FormulaMenu/components/WrapWithExpression/index.tsx
  components/formula/FormulaValue/components/Menu/index.tsx
  components/ui/ConfigToggle/index.tsx
  modules/formulas/actions.ts
  modules/formulas/models.ts
  modules/formulas/selectors.ts
  modules/formulas/slice.ts
Due: eslint --ignore-path .gitignore --quiet --fix

chore(release): 0.14.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --ignore-path .gitignore --write

Notes added by 'git notes add'
  cea2d06997061e52541efb4551f9fb5cff40d0dc
Due: none
