Repository TroAlexis/formulae: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add Hoverable ui component
  components/ui/Hoverable/index.tsx
  components/ui/Hoverable/models.ts
  components/ui/Hoverable/styles.ts
Due: eslint --ignore-path .gitignore --quiet --fix

fix: make formula menus and actions hoverable
  components/formula/FormulaNameControl/index.module.css
  components/formula/FormulaNameControl/index.tsx
  components/formula/FormulaValue/index.module.css
  components/formula/FormulaValue/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add formula deletion
  components/formula/FormulaDelete/index.tsx
  components/formula/FormulaNameControl/index.tsx
  components/formula/FormulaValue/index.tsx
  modules/formulas/actions.ts
  modules/formulas/index.ts
  modules/formulas/models.ts
  modules/formulas/selectors.ts
  modules/formulas/utils.ts
Due: eslint --ignore-path .gitignore --quiet --fix

refactor: add composable formula layout
  components/formula/FormulaLayout/index.module.css
  components/formula/FormulaLayout/index.tsx
  components/formula/FormulaLayout/models.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: compose value and operator components with formula layout
  components/formula/FormulaOperator/index.tsx
  components/formula/FormulaOperator/styles.ts
  components/formula/FormulaValue/index.module.css
  components/formula/FormulaValue/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add sliceExceptLast array utility
  utils/array.ts
Due: eslint --ignore-path .gitignore --quiet --fix

fix: fix removing expression not changing current expression index
  modules/formulas/actions.ts
  modules/formulas/models.ts
  modules/formulas/utils.ts
Due: eslint --ignore-path .gitignore --quiet --fix

fix: fix FormulaNameControl dark mode name color
  components/formula/FormulaNameControl/styles.ts
  config/mantine/utils.ts
Due: eslint --ignore-path .gitignore --quiet --fix

refactor: use getFormulaName helper in FormulaNameControl input value
  components/formula/FormulaNameControl/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

refactor: rename formula name control to expression controls
  components/formula/FormulaExpression/index.tsx
  components/formula/FormulaExpressionControls/index.module.css
  components/formula/FormulaExpressionControls/index.tsx
  components/formula/FormulaExpressionControls/styles.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add selecting any expression option to menu
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaMenu/components/Select/index.tsx
  components/formula/FormulaNameControl/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

Notes added by 'git notes add'
  320f3cebcec1ef1da893beed3131157d2cad5bbc
Due: none

fix: fix formula expression name getting static value
  components/formula/FormulaExpressionControls/index.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

Notes added by 'git notes add'
  2ef0c73d908481181197852d67cf6f5dea327968
Due: none

feat: add formula collapse
  components/formula/FormulaExpression/components/Collapse/index.tsx
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaExpression/index.tsx
  components/formula/FormulaExpressionControls/index.tsx
  modules/formulas/actions.ts
  modules/formulas/index.ts
  modules/formulas/models.ts
  modules/formulas/selectors.ts
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add formula collapse (#2)
  components/formula/FormulaExpression/components/Collapse/index.tsx
  components/formula/FormulaExpression/components/Menu/index.tsx
  components/formula/FormulaExpression/index.tsx
  components/formula/FormulaExpressionControls/index.tsx
  modules/formulas/actions.ts
  modules/formulas/index.ts
  modules/formulas/models.ts
  modules/formulas/selectors.ts
Due: eslint --ignore-path .gitignore --quiet --fix

style: lint fix
  modules/formulas/selectors.ts
Due: eslint --ignore-path .gitignore --quiet --fix

Notes added by 'git notes add'
  98e51157af5172368d9c948329dd8c3f3311c1e9
Due: none

refactor: move meta tags into separate component
  components/app/Meta/index.tsx
  pages/_app.tsx
Due: eslint --ignore-path .gitignore --quiet --fix

feat: add logo images
  assets/images/logo-tiny.svg
  assets/images/logo.svg
Due: none

feat: add a way to generate only one step of pwa assets
  package.json
  tools/assets/index.js
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: update theme color, make it dynamic according to user theme
  components/app/Meta/index.tsx
  components/formula/FormulaExpressionControls/styles.ts
  config/mantine/theme.ts
  config/mantine/utils.ts
  pages/_app.tsx
  public/manifest.json
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: fix formula creator controls using first/last-child selector
  components/formula/FormulaCreator/Controls/styles.ts
Due: eslint --ignore-path .gitignore --quiet --fix

fix: add current public path to manifest icons path
  public/manifest.json
  tools/assets/index.js
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: fix manifest scope
  next.config.js
  public/manifest.json
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Notes added by 'git notes add'
  6610c73a8153189d0d96d567b96e816ea90af3b1
Due: none

Notes added by 'git notes add'
  e068fcaf0fa483357532a5ee3501f1dc19049b6d
Due: none

refactor: refactor assets tool
  tools/assets/index.js
Due: eslint --ignore-path .gitignore --quiet --fix

docs: update license, add details to README
  LICENSE
  README.md
Due: prettier --ignore-path .gitignore --write

chore: remove empty global.d.ts
  global.d.ts
Due: eslint --ignore-path .gitignore --quiet --fix

fix: fix permissions in base workflow for semantic-release
  .github/workflows/base.yml
Due: none

fix: fix permissions in base workflow for semantic-release (#5)
  .github/workflows/base.yml
Due: none

Notes added by 'git notes add'
  cd0b3db330ac4cd1b73ad30652dfdd268b5869eb
Due: none

ci: add npm semantic release plugin to update package.json version
  .github/workflows/base.yml
  .releaserc.json
Due: prettier --ignore-path .gitignore --write

ci: add npm semantic release plugin to update package.json version (#6)
  .github/workflows/base.yml
  .releaserc.json
Due: prettier --ignore-path .gitignore --write

fix: fix releaserc npm option
  .releaserc.json
Due: prettier --ignore-path .gitignore --write

Path conditions:
  prettier --ignore-path .gitignore --write: any of: *.{css,scss,json,md,html}
  eslint --ignore-path .gitignore --quiet --fix: any of: *.{js,ts,tsx}
